@use "../base/variables" as v;

.mainContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    height: 100vh; 
}
  
.containerError {
    display: flex;
    justify-content: center;
    align-items: center;
}
.imgError {
    width: 80%; 
    max-width: 80%;
    filter: drop-shadow(10px 8px 6px #94908d);
}

.spanError {
    font-size: 2.3em;
    font-weight: 100;
    animation: sombreado 2s ease infinite;

.spanError:nth-child(1){
    animation-delay: 0s;
}
.spanError:nth-child(2){
    animation-delay: 0.3s;
}
.spanError:nth-child(3){
    animation-delay: 0.6s;
}
.spanError:nth-child(4){
    animation-delay: 0.9s;
}
.spanError:nth-child(5){
    animation-delay: 1.2s;
}
.spanError:nth-child(6){
    animation-delay: 1.6s;
}


    @keyframes sombreado {
        0%, 100% {
            color: #070707;
            filter:blur(2px);
            text-shadow: 0 0 10px #ecf334,
            0 0 20px #ecf334,
            0 0 20px #ecf334,
            0 0 20px #ecf334,
            0 0 20px #ecf334,
            0 0 20px #ecf334,
            0 0 20px #ecf334,
            0 0 20px #ecf334,
        }
        5%, 59%{
            color: #111;
            filter: blur(0px);
            text-shadow: none;
        }
        
    }
}

.phrase {
    font-size: 1.5rem;
    font-weight: 300;
}
.phraseError {
    padding-top: 1rem;
}

