@use "../base/variables" as v;

.footer-container {
  background-color: v.$primary;
  border: 2px solid v.$secondary;
  padding-top: 1rem;
  color: white;
  max-height: 0 200px;

  a {
    color: white;
  }
}

.imgFooter {
  width: 10rem;
}

.h4-footer {
  font-weight: bolder;
}

ul li a i {
  color: white;
  // color: #000;
  transition: color 0.3s ease;
  font-size: 17px;
  transition: font-size 0.3s ease;
}

ul li a:hover i {
  color: greenyellow;
  // font-size: 24px;
}

ul li a:hover i.bi-twitter {
  color: yellow;
}

ul li a:hover i.bi-facebook {
  color: rgb(38, 82, 224);
}

ul li a:hover i.bi-tiktok {
  color: red;
}

ul li a:hover i.bi-instagram {
  color: rgb(241, 65, 197);
}

.pie-footer {
  color: black
}

.footer-bottom {
  text-align: center;
}

.pie-footer {
  margin: 0;
}