@use "../base/variables" as v;

.backgroundColor {
    background-color: v.$background;
}

.indexBackground {
    height: 55vh;
    background-image: url('https://res.cloudinary.com/dhvgi2cmq/image/upload/v1696805026/patitas/dogsCont_j8xosa.png');
    background-size: cover;
    background-color: v.$background;
}

@media (max-width: 1024px) {
    .indexBackground {
        height: 38vh;
        background-image: url('https://res.cloudinary.com/dhvgi2cmq/image/upload/v1696807786/patitas/dogsSm_aslv2m.png');
        background-size: cover;
        background-color: v.$background;
    }

    .contTextIndex {
        .textoIndex {
            margin-top: 10px;
            font-weight: bold;
            margin-right: 190px;
            background-color: rgba(255, 255, 255, 0.568);
            width: 100%;
        }
    }
}

@media (max-width: 414px) {
    .displayNoneSm {
        display: none;
    }

    .indexBackground {
        height: 30vh;
        background-image: url('https://res.cloudinary.com/dhvgi2cmq/image/upload/v1696807786/patitas/dogsSm_aslv2m.png');
        background-size: cover;
        background-color: v.$background;
    }

    .textoIndex {
        margin-top: 10px;
        font-weight: bold;
        background-color: rgba(255, 255, 255, 0.568);
    }
}