@use "../base/variables" as v;

.backgroundColor {
    background-color: v.$background;
}

.indexBackground {
    height: 55vh;
    background-image: url('https://res.cloudinary.com/dhvgi2cmq/image/upload/v1696805026/patitas/dogsCont_j8xosa.png');
    background-size: cover;
    background-color: v.$background;
}

@media (max-width: 768px) {
    .displayNoneSm {
        display: none;
    }
}

@media (max-width: 700px) {
    .indexBackground {
        height: 30vh;
        background-image: url('https://res.cloudinary.com/dhvgi2cmq/image/upload/v1696807786/patitas/dogsSm_aslv2m.png');
        background-size: cover;
        background-color: v.$background;
    }

    .textoIndex {
        margin-top: 10px;
        font-weight: bold;
        // color: whitesmoke;
        background-color: rgba(255, 255, 255, 0.568);
    }
}