#root {
    width: 100%;
    margin: 0 auto;
    text-align: center;
  }

  :root {

    --mainDark: #a3b18a;
    --maingreen: #344e41;
    --mainfount: #588157;
    --mainenable: #dad7cd;
    
    }
    
  
  